*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  rgb(255, 254, 254);
}

.oncetabla{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;

  
}
.oncetabla div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    
}
.oncetabla div a{
    width: fit-content;   
    text-decoration: none;
    font-size: 50px;
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 10px ;   

} 

.oncetabla div:hover{
    color: grey;
}

  /* .atras {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 5vh;
    width: 5%;
} */


a {
    text-decoration: none;
    color: white;
    background-color:  rgb(78, 16, 16);
    width: fit-content;
    padding: 10px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 25px;
    /* position: absolute;
    bottom: 10px; */
}

a:hover{
 color: grey;
}

.botoncito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:80px ;
}
 /* .Guardar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 5vh;
    width: 5%;
} */


  /* .Guardar a {
    text-decoration: none;
    color: white;
    background-color: blue;
    width: fit-content;
    padding: 10px 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 25px;
    
    bottom: 10px;
}

 .Guardar a:hover{
 color: grey;
} */